:root {
    --primary: #0984e3;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #2d3436;
    --border-radius: .3rem;
  
  }

  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }

#banner {
    height: 50px;
    border-bottom: 2px #2d3436;
}

#banner {
    height: 50px;
    border-bottom: 2px #2d3436;
}

#currentWeather {
    height: 100px;
    border-bottom: 2px #2d3436;

}

#weatherBox {
    /* display:none; */
    height: 100px;
    border-bottom: 2px #2d3436;
    background-color: #74b9ff;
}

#currIcon {
    height: 200px;
    width: 150px;
    background-image: url("http://openweathermap.org/img/w/01d.png");
    background-size: contain;
    background-position: center;

}

#forecastBox {
    color: black;
    font-weight: 600;
    text-emphasis: var(--dark);
    text-shadow: black;
}

#day01Card {
    height: 200px;
    width: 150px;
    background-image: url("http://openweathermap.org/img/w/01d.png");
    background-size: contain;
    background-position: center;
    background-color: #74b9ff;

}

#day02Card {
    height: 200px;
    width: 150px;
    background-image: url("http://openweathermap.org/img/w/01d.png");
    background-size: contain;
    background-position: center;
    background-color: #74b9ff;

}

#day03Card {
    height: 200px;
    width: 150px;
    background-image: url("http://openweathermap.org/img/w/01d.png");
    background-size: contain;
    background-position: center;
    background-color: #74b9ff;

}

#day04Card {
    height: 200px;
    width: 150px;
    background-image: url("http://openweathermap.org/img/w/01d.png");
    background-size: contain;
    background-position: center;
    background-color: #74b9ff;
}

#day05Card {
    height: 200px;
    width: 150px;
    background-image: url("http://openweathermap.org/img/w/01d.png");
    background-size: contain;
    background-position: center;
    background-color: #74b9ff;
}








